[user]
	name = Sergio Dobri
	email = sergiodobri@gmail.com
	signingkey = /home/sdobri/.ssh/id_ed25519
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
  gpgsign = true
[gpg]
	format = ssh
