/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #212121FF;
    background-alt: #212121ff;
    foreground:     #D9E0EEFF;
    selected:       #006cacff;
    active:         #4fc3f7ff;
    urgent:         #FF5555ff;
}
