/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #212121FF;
    background-alt: #212121ff;
    foreground:     #D9E0EEFF;
    selected:       #ff6b01ff;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
