#!/bin/bash

alias poweroff="sudo systemctl poweroff"
alias reboot="sudo systemctl reboot"
alias fixx="sudo brightnessctl --device='smc::kbd_backlight' set 30 &&sudo brightnessctl --device='acpi_video0' set 2"

# get all errors for running services using journalctl
alias journalErrors="journalctl -p 3 -xb"

alias x="exit"
alias sx="startx"
alias l='exa -ll --color=always --group-directories-first'
alias ls='exa -al --header --icons --group-directories-first'
alias grep='grep --color=auto'
alias myip="ip -f inet address | grep inet | grep -v 'lo$' | cut -d ' ' -f 6,13 && curl ifconfig.me && echo ' external ip'"
alias free='free -h'
alias reload='source ~/.bashrc'

# nvim
alias v='nvim'
alias e='nvim'

alias lg='lazygit'

# dotfiles
alias vv='cd ~/.dotfiles/tinyvim/.config/nvim/'
alias vvv='vv && v'
alias dd='cd ~/.dotfiles/'
alias ddv='dd && v'

# projects
alias pp='cd ~/Projects/'
alias ppv='pp && v'

# home
alias hh='cd ~'
alias hhv='hh & v'

# site
alias ss='cd ~/Sites/'
alias ssv='ss && v'
alias sepc='cd ~/Sites/epc_in_dev'
alias sepc2='cd ~/Sites/elisa_pet_care_v2'
alias spt='cd ~/Sites/pousada_do_tucunare_2020'
alias setv='cd ~/Sites/espaco_videira_2025'
alias sb='cd ~/Sites/blog'
alias sv='cd ~/Sites/videira-blog-2025/'

alias ..='cd ..'
alias ..2='cd ../../'
alias ..3='cd ../../../'
alias ..4='cd ../../../../'

# suckless
alias su='cd ~/.dotfiles/suckless/.config/suckless/'
alias suv='su && v'
alias sud='cd ~/.dotfiles/suckless/.config/suckless/dwm/'
alias sudv='sud && v'
alias sum='cd ~/.dotfiles/suckless/.config/suckless/dmenu/'
alias sumv='sum && v'
alias sus='cd ~/.dotfiles/suckless/.config/suckless/slstatus/'
alias susv='sus && v'
alias sut='cd ~/.dotfiles/suckless/.config/suckless/st'
alias sutv='sut && v'
alias srmi='sudo rm config.h && sudo make clean install'
alias smi='sudo make clean install'

# apt
alias sai='sudo apt install'
alias sas='sudo apt search'
alias sar='sudo apt remove && sudo apt autoremove -yy'
alias saa='sudo apt autoclean && sudo apt autoremove -yy'
alias sauu='sudo apt update && sudo apt upgrade -y && sudo apt dist-upgrade -y && sudo apt autoclean && sudo apt autoremove -y'

# nala
alias sni='sudo nala install'
alias sns='sudo nala search'
alias snr='sudo nala remove'
alias sna='sudo nala autoremove -y'
alias snuu='sudo nala update && sudo nala upgrade -y && sudo nala autoremove -y'

# pnpm
alias pn=pnpm

# npm
alias nr="npm run"
alias nrf="npm run fix"
alias nrd="npm run dev"
alias nrp="npm run preview"
alias nrb="npm run build"
alias nrs="npm run start"
alias ni="npm install"
alias nid="npm install --save-dev"
alias nig="sudo npm install -g"
alias nu="npm uninstall"
alias nug="sudo npm uninstall -g"
alias nlsg="npm ls -g"            # List installed packages
alias nls="npm ls"                # List installed packages
alias nlp="npm prune"             # Remove un-used packages from node_modules folder
alias nup="npm update"            # Update all packages listed in package.json
alias nrdup="npm dedupe"          # Remove duplicate packages from node_modules
alias nclean="npm cache clean -f" # Clean npm cache

# update node packages
alias uppkg="ncu --interactive --format group"
alias uppkgg="ncu -g --interactive --format group"

# Git
alias gps="git push && git status --short"
alias gnah="git reset --hard && git clean -df"

alias gaa="git add ."
alias gs="git status --short"
alias gl="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches"
alias gc="git commit -m"
alias gp="git push"
alias gP="git pull"
alias gaac="git add . && git commit -m"
alias gsync="git pull && git push"
alias ggg="gaac 'update...' && gps"

#Clean cache
alias clearCache='rm -rf ~/.cache/*'
alias clearNeovimLog="rm /home/sdobri/.local/state/nvim/lsp.log"

#grub update
alias update-grub="sudo grub-mkconfig -o /boot/grub/grub.cfg"

#get the error messages from journalctl
alias jctl="journalctl -p 3 -xb"

#alias os="onedrive --synchronize"

function installNeovim {
  rm -rf /home/sdobri/.cache/nvim
  rm -rf /home/sdobri/.local/share/nvim
  rm -rf /home/sdobri/.local/state/nvim
  sudo rm /usr/local/bin/nvim
  wget https://github.com/neovim/neovim/releases/download/stable/nvim-linux-x86_64.appimage
  chmod u+x nvim-linux-x86_64.appimage
  sudo mv nvim-linux-x86_64.appimage /usr/local/bin/nvim
}

function installAppImage {
  sudo rm /usr/local/bin/$2
  chmod u+x $1
  sudo mv $1 /usr/local/bin/$2
}

### battery
battery_status() {
  BATTERY=/sys/class/power_supply/BAT0

  BATSTATE=$(cat ${BATTERY}/status)
  CHARGE=$(cat ${BATTERY}/capacity)

  NON='\033[00m'
  BLD='\033[01m'
  RED='\033[01;31m'
  GRN='\033[01;32m'
  YEL='\033[01;33m'

  COLOUR="$RED"

  case "${BATSTATE}" in
  'Charged')
    BATSTT="$BLD=$NON"
    ;;
  'Charging')
    BATSTT="$BLD+$NON"
    ;;
  'Discharging')
    BATSTT="$BLD-$NON"
    ;;
  esac

  # prevent a charge of more than 100% displaying
  if [ "$CHARGE" -gt "99" ]; then
    CHARGE=100
  fi

  if [ "$CHARGE" -gt "15" ]; then
    COLOUR="$YEL"
  fi

  if [ "$CHARGE" -gt "30" ]; then
    COLOUR="$GRN"
  fi

  echo -e "${BATSTT}${COLOUR}${CHARGE}%${NON}"
}
